<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create new spending</h1>
  <form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required> <br/>
    <label for="category">Category</label>
    <input type="text" name="category" id="category" required> <br/>
    <label for="date">Date</label>
    <input type="date" name="date" id="date" required> <br/>
    <label for="sum0">Sum</label>
    <input type="text" name="sum0" id="sum0" required> <br/>
    <label for="spending_or_salary">Is</label>
    <input type="text" name="spending_or_salary" id="spending_or_salary" required> <br/>

    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
